<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply_Image</title>
</head>
<body>
<p>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <label style="font-size:14px;">필수 정보 입력</label>
        <p>{{ form.ticket_image }}</p>
        <input type="submit" class="save btn btn-secondary" style="font-size:12px; padding:5px;" />
    </form>
    <button><a href="{% url 'apply_complete' pk=pk %}">다음</a></button>
    <button><a href="{% url 'main_detail' pk=pk %}" style="color:black; text-decoration:none;">메인 화면</a></button>
</body>
</html>