<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/choice.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Language Choice</title>
    <style>
        html, body{
        height:100%;
        }
    </style>
</head>
<body>
    <div class="top-banner">
        <div class="back">
            <span class="image"><img src="{% static 'images/search/button_cancel_black.png' %}"></span>
        </div>
    </div>
    <div class="language-title" style="text-align:center;">
        Language Choice
    </div>
    <div class="language-choice" style="margin-left:4%; text-align:center;">
        <div style="margin-top:10%;">
            <span><button type="button" class="btn btn-outline-dark"><a href="{% url 'user_korean' room_name=musical %}" style="color:black; text-decoration:none;">KOREAN</a></button></span>
            <span><button type="button" class="btn btn-outline-dark"><a href="{% url 'user_english' pk=musical.pk room_name=musical%}" style="color:black; text-decoration:none;">ENGLISH</a></button></span>
        </div>
        <div style="margin-top:10%; margin-bottom:5%;">
            <button type="button" class="btn btn-outline-dark"><a href="{% url 'user_japanese' pk=musical.pk room_name=musical%}" style="color:black; text-decoration:none;">JAPANESE</a></button>
            <button type="button" class="btn btn-outline-dark"><a href="{% url 'user_chinese' pk=musical.pk room_name=musical%}" style="color:black; text-decoration:none;">CHINESE</a></button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>