<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Language Choice</title>
</head>
<body>
<p><button><a href="{% url 'user_korean' %}" style="color:black; text-decoration:none;">한국어</a></button></p>
<p><button><a href="{% url 'user_english' %}" style="color:black; text-decoration:none;">영어</a></button></p>
<p><button><a href="{% url 'user_japanese' %}" style="color:black; text-decoration:none;">일본어</a></button></p>
<p><button><a href="{% url 'user_chinese' %}" style="color:black; text-decoration:none;">중국어</a></button></p>
</body>
</html>