<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    What chat room would you like to enter?<br/>
    <input id="room-name-input" type="text" size="100"/><br/>
    <input id="room-name-submit" type="button" value="Enter"/>
    <input id="password" type="button" onclick="password_click();" value="자막송출"/>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <label style="font-size:14px;">리뷰작성</label>
        <p>{{ form.review }}</p>
        <input type="submit" class="save btn btn-secondary" style="font-size:12px; padding:5px;">작성완료</input>
    </form>
</body>
<script>
// 한국어, 영어, 중국어, 일본어 URL로 전달

    function password_click(){
        var SuccessURL = "#";
            alert('"password"를 입력해주세요.');
        var password = prompt("PASSWORD 입력", "");
            if(password == null){
                alert("암호를 다시 입력해주세요.");
                location = "#";
            }
            else{
                var combo = password;
                var total = combo.toLowerCase();

                /* 패스워드 장고에서 받아오기 */
                // 한국어, 영어, 중국어, 일본어 URL로 전달

                if(total == "1234"){
                    alert("한국어\n영어\n중국어\n일본어");
                    location = SuccessURL;
                }
                else{
                    alert("출입금지");
                    location = "#";
                }
            }
    };

    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script>
</html>