<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_detail.css' %}" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Linkey</title>
    <style>
    </style>
</head>
<body>
    <div class="main">
        <div class="top-banner">
            <div class="back" style="width:100%;">
                <span class="image"><a href="{% url 'main_list' %}"><img src="{% static 'images/main/button_back.png' %}"></a></span>
                <span class="title" style="text-align:center;">{{ musical.title }}</span>
            </div>
        </div>
        <div>
            <img src="{% static 'images/main/background_poster.png' %}" style="width:100%; height:180px;">
        </div>
        <div>
            <img src="{% static 'images/main/background_gray.png' %}" style="width:100%; height:18px;">
        </div>

        <div class="musical-nav">
            <div class="musical-producer">
                {{ musical.producer }}
            </div>
            <div class="musical-apply">
                신청현황
            </div>
            <div class="musical-review">
                관람후기
            </div>
        </div>

        <div class="review" style="background-image:url('{% static 'images/main/background_review_gray.png' %}');">
            <span style="font-weight:bold;">관람후기</span>
            <span style="color:red;">356</span>
        </div>
        <div class="review-contents" style="width:100%;">
            {% for review in reviews %}
            <div class="review-score">
                {% if review.star == 1 %}
                    <div class="row">
                        <div class="col-4">
                            <span class="red-star"><img src="{% static 'images/main/score_star_redsmall.png' %}"></span>
                        </div>
                        <div class="col-8">
                            <span class="review-date" style="float:right;">{{ review.published_date }}</span>
                        </div>
                    </div>
                {% endif %}
                {% if review.star == 2 %}
                    <div class="row">
                        <div class="col-4">
                            <span class="red-star"><img src="{% static 'images/main/score_star_redsmall.png' %}"><img src="{% static 'images/main/score_star_redsmall.png' %}"></span>
                        </div>
                        <div class="col-8">
                            <span class="review-date" style="float:right;">{{ review.published_date }}</span>
                        </div>
                    </div>
                {% endif %}
                {% if review.star == 3 %}
                    <div class="row">
                        <div class="col-4">
                            <span class="red-star"><img src="{% static 'images/main/score_star_redsmall.png' %}"><img src="{% static 'images/main/score_star_redsmall.png' %}"><img src="{% static 'images/main/score_star_redsmall.png' %}"></span>
                        </div>
                        <div class="col-8">
                            <span class="review-date" style="float:right;">{{ review.published_date }}</span>
                        </div>
                    </div>
                {% endif %}
                {% if review.star == 4 %}
                    <div class="row">
                        <div class="col-4">
                            <span class="red-star"><img src="{% static 'images/main/score_star_redsmall.png' %}"><img src="{% static 'images/main/score_star_redsmall.png' %}"><img src="{% static 'images/main/score_star_redsmall.png' %}"><img src="{% static 'images/main/score_star_redsmall.png' %}"></span>
                        </div>
                        <div class="col-8">
                            <span class="review-date" style="float:right;">{{ review.published_date }}</span>
                        </div>
                    </div>
                {% endif %}
                {% if review.star == 5 %}
                    <div class="row">
                        <div class="col-4">
                            <span class="red-star"><img src="{% static 'images/main/score_star_redsmall.png' %}"><img src="{% static 'images/main/score_star_redsmall.png' %}"><img src="{% static 'images/main/score_star_redsmall.png' %}"><img src="{% static 'images/main/score_star_redsmall.png' %}"><img src="{% static 'images/main/score_star_redsmall.png' %}"></span>
                        </div>
                        <div class="col-8">
                            <span class="review-date" style="float:right;">{{ review.published_date }}</span>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="row" style="border-bottom:0.1px solid rgb(235, 235, 235); width:100%;">
                <div class="col-12" style="text-align:left;">{{ review.review }}</div>
            </div>
            {% endfor %}
        </div>

        <div class="script-bottom" style="text-align:center; margin-bottom:0;">
                <button type="button" class="btn btn-sm" style="width:48%; height:40px; background-color:red;"><a href="{% url 'apply' pk=pk %}" style="color:white; text-decoration:none; font-size:15px; font-weight:bold;">자막이용신청</a></button>
                <button type="button" class="btn btn-sm" style="width:48%; height:40px; background-color:white; border:solid 1px red;"><a href="{% url 'choice' pk=pk %}" style="color:red; text-decoration:none; font-size:15px; font-weight:bold;">자막실행</a></button>
        </div>
    </div>


    <!-- bootstrap javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>
