<!-- chat/templates/chat/operate.html -->
<!DOCTYPE html>
{% load i18n %}
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Admin</title>
    <style>
        html, body{
        height:100%;
        }
    </style>
</head>
<body style="background-color:black;">
<div class="container">
    <div style="padding-top:5%; padding-left:2%;">
        <textarea id="a-music" cols="40" rows="2" style="resize:none; background-color:black; border:black; color:rgb(200, 200, 200); text-align:left;">
        </textarea>
        <textarea id="a-actor" type="text" cols="10" rows="3" style="resize:none; background-color:black; border:black; color:rgb(200, 200, 200); text-align:center;">
        </textarea>
        <textarea id="a-song" type="text" size="100" cols="20" rows="3" style="width:70%; resize:none; background-color:black; border:black; color:white; text-align:left;">
        </textarea>
    </div>

    <div style="padding-top:5%; padding-left:2%;">
        <textarea id="b-music" cols="40" rows="2" style="resize:none; background-color:black; border:black; color:rgb(200, 200, 200); text-align:left;">
        </textarea>
        <textarea id="b-actor" type="text" cols="10" rows="3" style="resize:none; background-color:black; border:black; color:rgb(200, 200, 200); text-align:center;">
        </textarea>
        <textarea id="b-song" type="text" size="100" cols="20" rows="3" style="width:70%; resize:none; background-color:black; border:black; color:white; text-align:left;">
        </textarea>
    </div>

    <div style="padding-top:5%; padding-left:2%;">
        <textarea id="c-music" cols="40" rows="2" style="resize:none; background-color:black; border:black; color:rgb(200, 200, 200); text-align:left;">
        </textarea>
        <textarea id="c-actor" type="text" cols="10" rows="3" style="resize:none; background-color:black; border:black; color:rgb(200, 200, 200); text-align:center;">
        </textarea>
        <textarea id="c-song" type="text" size="100" cols="20" rows="3" style="width:70%; resize:none; background-color:black; border:black; color:white; text-align:left;">
        </textarea>
    </div>

    <div style="text-align:center; padding-top:5%;">
        <input id="chat-submit-next" type="button" value="다음"/>
        <input id="chat-submit-previous" type="button" value="이전"/>
        <input id="chat-pause" type="button" value="일시중지"/>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
<script>
    prev = 0;
    pause = 1;
    var korean = {{ json_korean }};
    var japanese = {{ json_japanese }};
    var chinese = {{ json_chinese }};
    var english = {{ json_english }};
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/operate/' + roomName + '/');

    /*
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var korean = data['korean'];
        var japanese = data['japanese'];
        var chinese = data['chinese'];
        var english = data['english'];
        document.querySelector('#customer-chat').value = (message + '\n');
    };
    */

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    /*
    document.querySelector('#a-song').focus();
    document.querySelector('#a-song').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-submit-next').click();
        }
    };
    */

    document.querySelector('#chat-pause').onclick = function(e){
        pause = !pause;
        if (pause) {
            var messagePrevmusicDom = document.querySelector('#a-music');
            messagePrevmusicDom.value = korean[prev-1].music;
            var messagePrevactorDom = document.querySelector('#a-actor');
            messagePrevactorDom.value = korean[prev-1].actor;
            var messagePrevsongDom = document.querySelector('#a-song');
            messagePrevsongDom.value = korean[prev-1].song;

            var messagemusicDom = document.querySelector('#b-music');
            messagemusicDom.value = korean[prev].music;
            var messageactorDom = document.querySelector('#b-actor');
            messageactorDom.value = korean[prev].actor;
            var messagesongDom = document.querySelector('#b-song');
            messagesongDom.value = korean[prev].song;

            var messageNextmusicDom = document.querySelector('#c-music');
            messageNextmusicDom.value = korean[prev+1].music;
            var messageNextactorDom = document.querySelector('#c-actor');
            messageNextactorDom.value = korean[prev+1].actor;
            var messageNextsongDom = document.querySelector('#c-song');
            messageNextsongDom.value = korean[prev+1].song;

            var a_song = japanese[prev].song;
            var a_actor = japanese[prev].actor;
            var a_music = japanese[prev].music;

            var b_song = chinese[prev].song;
            var b_actor = chinese[prev].actor;
            var b_music = chinese[prev].music;

            var c_song = english[prev].song;
            var c_actor = english[prev].actor;
            var c_music = english[prev].music;

            var d_song = korean[prev].song;
            var d_actor = korean[prev].actor;
            var d_music = korean[prev].music;

            chatSocket.send(JSON.stringify({
                'japanese_song': a_song,
                'japanese_actor': a_actor,
                'japanese_music': a_music,

                'chinese_song': b_song,
                'chinese_actor': b_actor,
                'chinese_music': b_music,

                'english_song': c_song,
                'english_actor': c_actor,
                'english_music': c_music,

                'korean_song': d_song,
                'korean_actor': d_actor,
                'korean_music': d_music,
            }));
        }
    };
    document.querySelector('#chat-submit-next').onclick = function(e) {
            prev += 1;
            var messagePrevmusicDom = document.querySelector('#a-music');
            messagePrevmusicDom.value = korean[prev-1].music;
            var messagePrevactorDom = document.querySelector('#a-actor');
            messagePrevactorDom.value = korean[prev-1].actor;
            var messagePrevsongDom = document.querySelector('#a-song');
            messagePrevsongDom.value = korean[prev-1].song;

            var messagemusicDom = document.querySelector('#b-music');
            messagemusicDom.value = korean[prev].music;
            var messageactorDom = document.querySelector('#b-actor');
            messageactorDom.value = korean[prev].actor;
            var messagesongDom = document.querySelector('#b-song');
            messagesongDom.value = korean[prev].song;

            var messageNextmusicDom = document.querySelector('#c-music');
            messageNextmusicDom.value = korean[prev+1].music;
            var messageNextactorDom = document.querySelector('#c-actor');
            messageNextactorDom.value = korean[prev+1].actor;
            var messageNextsongDom = document.querySelector('#c-song');
            messageNextsongDom.value = korean[prev+1].song;
        if (pause) {
            var a_song = japanese[prev].song;
            var a_actor = japanese[prev].actor;
            var a_music = japanese[prev].music;

            var b_song = chinese[prev].song;
            var b_actor = chinese[prev].actor;
            var b_music = chinese[prev].music;

            var c_song = english[prev].song;
            var c_actor = english[prev].actor;
            var c_music = english[prev].music;

            var d_song = korean[prev].song;
            var d_actor = korean[prev].actor;
            var d_music = korean[prev].music;

            chatSocket.send(JSON.stringify({
                'japanese_song': a_song,
                'japanese_actor': a_actor,
                'japanese_music': a_music,

                'chinese_song': b_song,
                'chinese_actor': b_actor,
                'chinese_music': b_music,

                'english_song': c_song,
                'english_actor': c_actor,
                'english_music': c_music,

                'korean_song': d_song,
                'korean_actor': d_actor,
                'korean_music': d_music,
            }));
        }
        else{
            console.log('일시정지 상태입니다.')
        }
    };

    document.querySelector('#chat-submit-previous').onclick = function(e) {
            prev -= 1;
            var messagePrevmusicDom = document.querySelector('#a-music');
            messagePrevmusicDom.value = korean[prev-1].music;
            var messagePrevactorDom = document.querySelector('#a-actor');
            messagePrevactorDom.value = korean[prev-1].actor;
            var messagePrevsongDom = document.querySelector('#a-song');
            messagePrevsongDom.value = korean[prev-1].song;

            var messagemusicDom = document.querySelector('#b-music');
            messagemusicDom.value = korean[prev].music;
            var messageactorDom = document.querySelector('#b-actor');
            messageactorDom.value = korean[prev].actor;
            var messagesongDom = document.querySelector('#b-song');
            messagesongDom.value = korean[prev].song;

            var messageNextmusicDom = document.querySelector('#c-music');
            messageNextmusicDom.value = korean[prev+1].music;
            var messageNextactorDom = document.querySelector('#c-actor');
            messageNextactorDom.value = korean[prev+1].actor;
            var messageNextsongDom = document.querySelector('#c-song');
            messageNextsongDom.value = korean[prev+1].song;

        if (pause) {
            var a_song = japanese[prev].song;
            var a_actor = japanese[prev].actor;
            var a_music = japanese[prev].music;

            var b_song = chinese[prev].song;
            var b_actor = chinese[prev].actor;
            var b_music = chinese[prev].music;

            var c_song = english[prev].song;
            var c_actor = english[prev].actor;
            var c_music = english[prev].music;

            var d_song = korean[prev].song;
            var d_actor = korean[prev].actor;
            var d_music = korean[prev].music;

            chatSocket.send(JSON.stringify({
                'japanese_song': a_song,
                'japanese_actor': a_actor,
                'japanese_music': a_music,

                'chinese_song': b_song,
                'chinese_actor': b_actor,
                'chinese_music': b_music,

                'english_song': c_song,
                'english_actor': c_actor,
                'english_music': c_music,

                'korean_song': d_song,
                'korean_actor': d_actor,
                'korean_music': d_music,
            }));
        }
        else{
            console.log('일시정지 상태입니다.');
        }
    };


    /*
    해결해야 할 이슈
        chat에서 전달할 때 처음에 모든 칸을 비워주는 역할을 하는 함수가 필요.
        onclick에서 작성할 것이 아니라, 메세지를 받는 시점에서 작성해야 함.
        messagePreviousDom.value = '';
        messageChatDom.value = '';
        messageNextDom.value = '';
    */
</script>
</html>