<!-- chat/templates/chat/operate.html -->
<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Operating</title>
    <style>
        html{
        height:100%;
        }
    </style>
</head>
<body style="background-color:black; width:100%; height:100%;">
    <div style="width:100%; height:85%;">
        <div class="prev-script" style="margin-top:4%; margin-left:5%; width:90%; height:30%; border-color:white;">
          <div style="color:#a02828; font-weight:bold; font-size:13px;">이전 자막</div>
          <div style="">
              <div>
                <textarea id="a-music" rows="1" style="width:100%; resize:none; border-color:black; background-color:black; color:#b4b4b4; text-align:left;" readonly="readonly">
                </textarea>
              </div>
              <div>
                <textarea id="a-actor" type="text" rows="3" style="width:24%; resize:none; border-color:black; background-color:black; color:#b4b4b4; text-align:left;" readonly="readonly">
                </textarea>
                <textarea id="a-song" type="text" rows="3" style="width:74%; resize:none; border-color:black; background-color:black; color:#b4b4b4; text-align:left;" readonly="readonly">
                </textarea>
              </div>
          </div>
        </div>

        <div class="present-script" style="margin-top:3%;  width:100%; height:30%; border-color:white; background-color:#282828;">
          <div style="color:red; font-weight:bold; margin-left:5%; font-size:16px;">현재 자막</div>
          <div style="">
              <textarea id="b-music" rows="1" style="width:90%; margin-left:5%; resize:none; border-color:#282828; background-color:#282828; color:#282828; text-align:left;" readonly="readonly">
              </textarea>
              <textarea id="b-actor" type="text" rows="3" style="width:19%; margin-left:5%; resize:none; border-color:#282828; background-color:#282828; color:#282828; text-align:left;" readonly="readonly">
              </textarea>
              <textarea id="b-song" type="text" rows="3" style="width:69%; resize:none; border-color:#282828; background-color:#282828; color:#ebebeb; text-align:left;" readonly="readonly">
              </textarea>
          </div>
        </div>

        <div class="next-script" style="margin-top:3%; margin-left:5%; width:90%; height:30%; border-color:white;">
          <div style="color:#a02828; font-size:13px;">다음 자막</div>
          <div style="">
              <textarea id="c-music" rows="1" style="width:100%; resize:none; border-color:black; background-color:black; color:#b4b4b4; text-align:left;" readonly="readonly">
              </textarea>
              <textarea id="c-actor" type="text" rows="3" style="width:24%; resize:none; border-color:black; background-color:black; color:#b4b4b4; text-align:left; " readonly="readonly">
              </textarea>
              <textarea id="c-song" type="text" rows="3" style="width:74%; resize:none; border-color:black; background-color:black; color:#b4b4b4; text-align:left;" readonly="readonly">
              </textarea>
          </div>
        </div>
    </div>


    <div style="text-align:center; width:100%; height:15%;">
    <button id="chat-submit-previous" type="button" style="color:black; background-color:black; border:black;"><img src="{% static 'images/script/button_left.png' %}" style="background-color:black;"></button>
        <button id="chat-submit-next" type="button" style="color:black; background-color:black; border:black;"><img src="{% static 'images/script/button_right.png' %}" style="background-color:black;"></button>
        <span style="float:right; margin-right:5%;"><button id="chat-exit" type="button" style="color:black; background-color:black; border:black;"><img src="{% static 'images/script/button_finish.png' %}" style="width:60px; height:60px; background-color:black;"></button></span>
        <span style="float:left; margin-left:5%;"><button id="chat-pause" type="button" style="color:black; background-color:black; border:black;"><img src="{% static 'images/script/button_pause.png' %}" style="width:60px; height:60px; background-color:black;"></button></span>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script>
    prev = -1;
    pause = 0;
    var korean = {{ json_korean }};
    var japanese = {{ json_japanese }};
    var chinese = {{ json_chinese }};
    var english = {{ json_english }};
    var roomName = {{ room_name_json }};

    var size = Object.keys(korean).length;

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/operate/' + roomName + '/');

    document.querySelector('#chat-exit').onclick = function(e){
        chatSocket.send(JSON.stringify({
          'japanese_song': '링키9397!',
          'japanese_actor': '',
          'japanese_music': '',

          'chinese_song': '링키9397!',
          'chinese_actor': '',
          'chinese_music': '',

          'english_song': '링키9397!',
          'english_actor': '',
          'english_music': '',

          'korean_song': '링키9397!',
          'korean_actor': '',
          'korean_music': '',
        }));
    }

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-pause').onclick = function(e){
        pause = !pause;
        if (!pause) {
            var a_song = japanese[prev].song;
            var a_actor = japanese[prev].actor;
            var a_music = japanese[prev].music;

            var b_song = chinese[prev].song;
            var b_actor = chinese[prev].actor;
            var b_music = chinese[prev].music;

            var c_song = english[prev].song;
            var c_actor = english[prev].actor;
            var c_music = english[prev].music;

            var d_song = korean[prev].song;
            var d_actor = korean[prev].actor;
            var d_music = korean[prev].music;

            chatSocket.send(JSON.stringify({
                'japanese_song': a_song,
                'japanese_actor': a_actor,
                'japanese_music': a_music,

                'chinese_song': b_song,
                'chinese_actor': b_actor,
                'chinese_music': b_music,

                'english_song': c_song,
                'english_actor': c_actor,
                'english_music': c_music,

                'korean_song': d_song,
                'korean_actor': d_actor,
                'korean_music': d_music,
            }));
        }
    };

    document.querySelector('#chat-submit-next').onclick = function(e) {
        prev += 1;
        if (prev == 0){
          var messagePrevmusicDom = document.querySelector('#a-music');
          messagePrevmusicDom.value = '';
          var messagePrevactorDom = document.querySelector('#a-actor');
          messagePrevactorDom.value = '';
          var messagePrevsongDom = document.querySelector('#a-song');
          messagePrevsongDom.value = '';

          var messagemusicDom = document.querySelector('#b-music');
          messagemusicDom.value = korean[prev].music;
          var messageactorDom = document.querySelector('#b-actor');
          messageactorDom.value = korean[prev].actor;
          var messagesongDom = document.querySelector('#b-song');
          messagesongDom.value = korean[prev].song;

          var messagemusicDom = document.querySelector('#c-music');
          messagemusicDom.value = korean[prev+1].music;
          var messageactorDom = document.querySelector('#c-actor');
          messageactorDom.value = korean[prev+1].actor;
          var messagesongDom = document.querySelector('#c-song');
          messagesongDom.value = korean[prev+1].song;

        }
        else if(prev < size){

          var messagePrevmusicDom = document.querySelector('#a-music');
          messagePrevmusicDom.value = korean[prev-1].music;
          var messagePrevactorDom = document.querySelector('#a-actor');
          messagePrevactorDom.value = korean[prev-1].actor;
          var messagePrevsongDom = document.querySelector('#a-song');
          messagePrevsongDom.value = korean[prev-1].song;

          var messagemusicDom = document.querySelector('#b-music');
          messagemusicDom.value = korean[prev].music;
          var messageactorDom = document.querySelector('#b-actor');
          messageactorDom.value = korean[prev].actor;
          var messagesongDom = document.querySelector('#b-song');
          messagesongDom.value = korean[prev].song;
          if (size > (prev+1)) {
            var messageNextmusicDom = document.querySelector('#c-music');
            messageNextmusicDom.value = korean[prev+1].music;
            var messageNextactorDom = document.querySelector('#c-actor');
            messageNextactorDom.value = korean[prev+1].actor;
            var messageNextsongDom = document.querySelector('#c-song');
            messageNextsongDom.value = korean[prev+1].song;
          }
          else{
            var messageNextmusicDom = document.querySelector('#c-music');
            messageNextmusicDom.value = '';
            var messageNextactorDom = document.querySelector('#c-actor');
            messageNextactorDom.value = '';
            var messageNextsongDom = document.querySelector('#c-song');
            messageNextsongDom.value = '';
          };

        }
        else{
        }


        if (!pause) {
            var a_song = japanese[prev].song;
            var a_actor = japanese[prev].actor;
            var a_music = japanese[prev].music;

            var b_song = chinese[prev].song;
            var b_actor = chinese[prev].actor;
            var b_music = chinese[prev].music;

            var c_song = english[prev].song;
            var c_actor = english[prev].actor;
            var c_music = english[prev].music;

            var d_song = korean[prev].song;
            var d_actor = korean[prev].actor;
            var d_music = korean[prev].music;

            chatSocket.send(JSON.stringify({
                'japanese_song': a_song,
                'japanese_actor': a_actor,
                'japanese_music': a_music,

                'chinese_song': b_song,
                'chinese_actor': b_actor,
                'chinese_music': b_music,

                'english_song': c_song,
                'english_actor': c_actor,
                'english_music': c_music,

                'korean_song': d_song,
                'korean_actor': d_actor,
                'korean_music': d_music,
            }));
        }
        else{
            console.log('일시정지 상태입니다.')
        }

    };

    document.querySelector('#chat-submit-previous').onclick = function(e) {
        prev -= 1;

        if(prev==0){
            var messagePrevmusicDom = document.querySelector('#a-music');
            messagePrevmusicDom.value = '';
            var messagePrevactorDom = document.querySelector('#a-actor');
            messagePrevactorDom.value = '';
            var messagePrevsongDom = document.querySelector('#a-song');
            messagePrevsongDom.value = '';

            var messagemusicDom = document.querySelector('#b-music');
            messagemusicDom.value = korean[prev].music;
            var messageactorDom = document.querySelector('#b-actor');
            messageactorDom.value = korean[prev].actor;
            var messagesongDom = document.querySelector('#b-song');
            messagesongDom.value = korean[prev].song;

            var messageNextmusicDom = document.querySelector('#c-music');
            messageNextmusicDom.value = korean[prev+1].music;
            var messageNextactorDom = document.querySelector('#c-actor');
            messageNextactorDom.value = korean[prev+1].actor;
            var messageNextsongDom = document.querySelector('#c-song');
            messageNextsongDom.value = korean[prev+1].song;
        }
        else{
            var messagePrevmusicDom = document.querySelector('#a-music');
            messagePrevmusicDom.value = korean[prev-1].music;
            var messagePrevactorDom = document.querySelector('#a-actor');
            messagePrevactorDom.value = korean[prev-1].actor;
            var messagePrevsongDom = document.querySelector('#a-song');
            messagePrevsongDom.value = korean[prev-1].song;

            var messagemusicDom = document.querySelector('#b-music');
            messagemusicDom.value = korean[prev].music;
            var messageactorDom = document.querySelector('#b-actor');
            messageactorDom.value = korean[prev].actor;
            var messagesongDom = document.querySelector('#b-song');
            messagesongDom.value = korean[prev].song;

            var messageNextmusicDom = document.querySelector('#c-music');
            messageNextmusicDom.value = korean[prev+1].music;
            var messageNextactorDom = document.querySelector('#c-actor');
            messageNextactorDom.value = korean[prev+1].actor;
            var messageNextsongDom = document.querySelector('#c-song');
            messageNextsongDom.value = korean[prev+1].song;
        };

        if (!pause) {
            var a_song = japanese[prev].song;
            var a_actor = japanese[prev].actor;
            var a_music = japanese[prev].music;

            var b_song = chinese[prev].song;
            var b_actor = chinese[prev].actor;
            var b_music = chinese[prev].music;

            var c_song = english[prev].song;
            var c_actor = english[prev].actor;
            var c_music = english[prev].music;

            var d_song = korean[prev].song;
            var d_actor = korean[prev].actor;
            var d_music = korean[prev].music;

            chatSocket.send(JSON.stringify({
                'japanese_song': a_song,
                'japanese_actor': a_actor,
                'japanese_music': a_music,

                'chinese_song': b_song,
                'chinese_actor': b_actor,
                'chinese_music': b_music,

                'english_song': c_song,
                'english_actor': c_actor,
                'english_music': c_music,

                'korean_song': d_song,
                'korean_actor': d_actor,
                'korean_music': d_music,
            }));
        }
        else{
            console.log('일시정지 상태입니다.');
        }
    };
</script>
</html>
