<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
</head>
<body>
<p>
    --------리뷰--------
    {% for review in reviews %}
        <p>{{ review.review }}
    {% endfor %}
    <p>
    --------리뷰--------

    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <label style="font-size:14px;">리뷰를 작성해주시면 감사하겠습니다.</label>
        <p>{{ form.review }}</p>
        <input type="submit" class="save btn btn-secondary" style="font-size:12px; padding:5px;"></input>
    </form>
    <button><a href="{% url 'main' %}" style="color:black; text-decoration:none;">메인 화면</a></button>
</body>
</html>