<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
</body>
    <textarea id="chat-log" cols="50" rows="60">
    </textarea>
    <textarea id="chat-message-input" type="text" size="100" cols="50" rows="60">
        {% for laugh in laughs %}
            가수 : {{ laugh.actor }}
            노래 : {{ laugh.song }}
            음악 : {{ laugh.music }}
        {% endfor %}
    </textarea>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>
<script>
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '{% for laugh in laughs_next %}\n가수 : {{ laugh.actor }}\n노래 : {{ laugh.song }}\n음악 : {{ laugh.music }}{% endfor %}';
    };
</script>
</html>