<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>ENGLISH</title>
    <style>
        html, body{
        background-color:black;
        height:100%;
        }
    </style>
</head>
<body oncontextmenu="return false" ondragstart="return false">
    <textarea id="customer-music" type="text" cols="30" rows="15" style="resize:none; background-color:black; height:10%; width:90%; font-size:20px; color:rgb(200, 200, 200); border:black; margin: 4% 0% 2% 5%;"></textarea>
    <textarea id="customer-actor" type="text" cols="30" rows="15" style="resize:none; background-color:black; height:30%; width:20%; font-size:25px; color:rgb(200, 200, 200); border:black; margin: 0% 0% 3% 2%; text-align:center;"></textarea>
    <textarea id="customer-song"  type="text" cols="30" rows="15" style="resize:none; background-color:black; height:30%; width:75%; font-size:30px; color:white; border:black; margin-bottom:3%;"></textarea>
    <textarea id="customer-actor-2" type="text" cols="30" rows="15" style="resize:none; background-color:black; height:30%; width:20%; font-size:25px; color:rgb(200, 200, 200); border:black; margin-left:2%;"></textarea>
    <textarea id="customer-song-2"  type="text" cols="30" rows="15" style="resize:none; background-color:black; height:30%; width:75%; font-size:30px; border:black; color:white;"></textarea>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
<script>
var pw = {{ password }};
var SuccessURL = "#";
    alert('"password"를 입력해주세요.');
var password = prompt("PASSWORD 입력", "");
    if(password == null){
        alert("암호를 다시 입력해주세요.");
        location = "#";
    }
    else{
        var combo = password;
        var total = combo.toLowerCase();

        if(total === pw[0].password){
            var chatSocket = new WebSocket(
                'ws://' + window.location.host +
                '/ws/chat/' + 'admin' + '/');

            chatSocket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                var english_music = data['english_music'];
                var english_actor = data['english_actor'];
                var english_song = data['english_song'];

                document.querySelector('#customer-music').value = (english_music + '\n');
                document.querySelector('#customer-actor').value = (english_actor + '\n');
                document.querySelector('#customer-song').value = (english_song + '\n');
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };
        }
        else{
            alert("출입금지");
            location = "#";
        }
    }

function KeyEventHandle()
    {
            if(
            ( event.ctrlKey == true && ( event.keyCode == 78 || event.keyCode == 82 ) ) ||
    ( event.keyCode >= 112 && event.keyCode <= 123 ))
            {
                event.keyCode                = 0;
                event.cancelBubble        = true;
                event.returnValue        = false;
            }
    }
    document.onkeydown=KeyEventHandle;
    document.onkeyup=KeyEventHandle;
</script>
</html>