<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>CHINESE</title>
        }
    <style>
        html, body{
        background-color:black;
        height:100%;
        }
    </style>
</head>
<body oncontextmenu="return false" ondragstart="return false">
    <textarea id="customer-music" type="text" cols="30" rows="15" style="overflow:hidden; resize:none; background-color:black; height:10%; width:90%; font-size:15px; color:rgb(200, 200, 200); border:black; margin: 4% 0% 2% 5%;" disabled></textarea>
    <textarea id="customer-actor" type="text" cols="30" rows="15" style="overflow:hidden; resize:none; background-color:black; height:30%; width:20%; font-size:20px; color:rgb(200, 200, 200); border:black; margin: 0% 0% 3% 2%; text-align:center;" disabled></textarea>
    <textarea id="customer-song"  type="text" cols="50" rows="35" style="overflow:hidden; resize:none; background-color:black; height:30%; width:75%; font-size:32px; color:white; border:black; margin: 0% 0% 3% 2%;" disabled></textarea>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
<script>
var pw = {{ password }};
var roomName = {{ room_name_json }};
var SuccessURL = "#";

if(!localStorage.total){
    alert('"password"를 입력해주세요.');
    var password = prompt("PASSWORD 입력", "");
    if(password == null){
        alert("암호를 다시 입력해주세요.");
        location = "#";
    }
    localStorage.total = password.toLowerCase();
}

    if(localStorage.total === pw[0].password){

        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/operate/' + roomName + '/');

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);

            var chinese_music = data['chinese_music'];
            var chinese_actor = data['chinese_actor'];
            var chinese_song = data['chinese_song'];

            if (chinese_song=='링키9397!'){
              alert('리뷰를 작성해주시면 감사하겠습니다.');
              console.log(roomName);
              document.location.href="http://www.linkey.co.kr/review/" + roomName;
            }
            else{
                if(typeof(chinese_music) == 'object'){
                    if(typeof(chinese_actor)!='object' && typeof(chinese_song)!='object'){
                      document.querySelector('#customer-music').value = '';
                      document.querySelector('#customer-actor').value = (chinese_actor + '\n');
                      document.querySelector('#customer-song').value = (chinese_song + '\n');
                    }
                    else if(typeof(chinese_actor)=='object' && typeof(chinese_song)!='object'){
                      document.querySelector('#customer-music').value = '';
                      document.querySelector('#customer-actor').value = '';
                      document.querySelector('#customer-song').value = (chinese_song + '\n');
                    }
                    else if(typeof(chinese_actor)!='object' && typeof(chinese_song)=='object'){
                      document.querySelector('#customer-music').value = '';
                      document.querySelector('#customer-actor').value = (chinese_actor + '\n');
                      document.querySelector('#customer-song').value = '';
                    }
                    else{
                      document.querySelector('#customer-music').value = '';
                      document.querySelector('#customer-actor').value = '';
                      document.querySelector('#customer-song').value = '';
                    }
                }
                else if(typeof(chinese_actor) == 'object'){
                    if(typeof(chinese_music)!='object' && typeof(chinese_song)!='object'){
                      document.querySelector('#customer-music').value = (chinese_music + '\n');
                      document.querySelector('#customer-actor').value = '';
                      document.querySelector('#customer-song').value = (chinese_song + '\n');
                    }
                    else if(typeof(chinese_music)=='object' && typeof(chinese_song)!='object'){
                      document.querySelector('#customer-music').value = '';
                      document.querySelector('#customer-actor').value = '';
                      document.querySelector('#customer-song').value = (chinese_song + '\n');
                    }
                    else if(typeof(chinese_music)!='object' && typeof(chinese_song)=='object'){
                      document.querySelector('#customer-music').value = (chinese_music + '\n');
                      document.querySelector('#customer-actor').value = '';
                      document.querySelector('#customer-song').value = '';
                    }
                    else{
                      document.querySelector('#customer-music').value = '';
                      document.querySelector('#customer-actor').value = '';
                      document.querySelector('#customer-song').value = '';
                    }
                }
                else if(typeof(chinese_song) == 'object'){
                    if(typeof(chinese_music) !='object' && typeof(chinese_actor)!='object'){
                      document.querySelector('#customer-music').value = (chinese_music + '\n');
                      document.querySelector('#customer-actor').value = (chinese_actor + '\n');
                      document.querySelector('#customer-song').value = '';
                    }
                    else if(typeof(chinese_music)=='object' && typeof(chinese_actor)!='object'){
                      document.querySelector('#customer-music').value = '';
                      document.querySelector('#customer-actor').value = (chinese_actor + '\n');
                      document.querySelector('#customer-song').value = '';
                    }
                    else if(typeof(chinese_music)!='object' && typeof(chinese_actor)=='object'){
                      document.querySelector('#customer-music').value = (chinese_music + '\n');
                      document.querySelector('#customer-actor').value = '';
                      document.querySelector('#customer-song').value = '';
                    }
                    else{
                      document.querySelector('#customer-music').value = '';
                      document.querySelector('#customer-actor').value = '';
                      document.querySelector('#customer-song').value = '';
                    }
                }
                else{
                    document.querySelector('#customer-music').value = (chinese_music + '\n');
                    document.querySelector('#customer-actor').value = (chinese_actor + '\n');
                    document.querySelector('#customer-song').value = (chinese_song + '\n');
                }
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

    }
    else{
        alert('"password"를 입력해주세요.');
        var password = prompt("PASSWORD 입력", "");
        if(password == null){
            alert("암호를 다시 입력해주세요.");
            location = "#";
        }
        localStorage.total = password.toLowerCase();
    }

    // 모바일 웹 주소창 숨기기
    window.addEventListener('load', function() {
      // body의 height를 살짝 늘리는 코드
      document.body.style.height = (document.documentElement.clientHeight + 5) + 'px';
      // scroll를 제어 하는 코드
      setTimeout(scrollTo, 0, 0, 1);
    }, false);

</script>
</html>
